{% extends 'base.html.twig' %}
{% block title %}Analisis de contratos{% endblock %}
{% block head_css %}
	{{ parent() }}
   <!-- Bootstrap Core CSS -->\
    <link href="{{ asset('assets/') }}plugins/bower_components/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        #div_carga{
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background-color: rgba(0,0,0,0.5);
            display:none;
            z-index:1;
        }
    </style>

{% endblock %}

{% block body %}
    <div id="div_carga">
        
    </div>
<div class="container">
	<div class="white-box">
		<h3 class="box-title m-b-20">Comision para analisis de incremento</h3>
        <!-- Nav tabs -->
        <ul class="nav customtab2 nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home6" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true"><span class="visible-xs"><i class="ti-home"></i></span><span class="hidden-xs">Presupuesto</span></a></li>
            <li role="presentation" class=""><a href="#profile6" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-user"></i></span> <span class="hidden-xs">Criticidad</span></a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            {# aqui va el analisis presupuestario #}
            <div role="tabpanel" class="tab-pane fade active in" id="home6">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading"> Presupuesto 
                            <div class="pull-right"><a href="javascript:void(0)" data-perform="panel-collapse"><i class="ti-minus"></i></a> <a href="javascript:void(0)" data-perform="panel-dismiss"><i class="ti-close"></i></a> </div>
                        </div>
                        <div class="panel-wrapper collapse in" aria-expanded="true">
                            <div class="panel-body">
                                <p><b>digite el monto disponible que tiene para comprar</b> <input type="text" id="presupuesto"></p>
                                <p><b>Monto Actual Total a Incrementar: $ </b><span class="text-info" id="totalIncremento"> 0</span></p>
                                <p><b>Monto Disponible</b><span class="text-warning" id="montoDisponible"></span></p>
                                <button id="GuardaIncremento" class="btn btn-danger">terminar analisis?</button>
                                
                                    <p>Generar Reporte</p>
                                    <a class="btn btn-success" href="">PDF</a>
                            </div>
                        </div>
                    </div>
                    {# fin del panel e inicio de la tabla #}
                    <div class="table-responsive">
            <div>
                <table id="detalle" class="table table-hover color-table info-table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Compra</th>
                        <th style="display:none;">id</th>
                        <th>Codigo Producto</th>
                        <th style="display:none;">id</th>
                        <th>Nombre Proveedor</th>
                        <th>Nombre Producto</th>
                        <th>Precio Unitario</th>
                        <th>monto comprado</th>
                        
                        <th>Cantidad a Incrementar</th>
                        <th>Sub Total</th>
                        <th>Renglon</th>
                        <th>Establecimiento</th>
                    </tr>
                </thead>
                <tbody>

                    {% for list in listado %}
                        {% if loop.first %}
                            {# aqui va la primera iteracion #}
                            {% set contador = 0 %}
                            <tr>
                                <td>{{list.contrato}}</td>
                                <td>{{list.numeroContrato}}</td>
                                <td style="display:none;">{{list.idproducto}}</td>
                                <td>{{list.codigoProducto}}</td>
                                <td style="display:none;">{{list.idproveedor}}</td>
                                <td>{{list.nombreProveedor}}</td>
                                <td>{{list.declargo}}</td>
                                
                                <td>{{list.precioUnitario|round(2,'floor')}}</td>
                                <td>{{list.cantidad * list.precioUnitario|round(2,'floor')}}</td>
                                <td><input onchange="calcular({{contador}},{{list.contrato}});" id="{{contador}}" type="number" min="0" name="cantidad" style="max-width:60px;"></td>
                                <td>0</td>
                                <td>{{list.renglon}}</td>
                                <td>
                                    <select style="max-width:100px;">
                                        <option value="0">Elija un establecimiento</option>
                                        {% for estab in establecimientos %}
                                            <option value="{{estab.id}}">{{estab.nombreEstablecimiento}}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                        {% else %}
                            {% if loop.last %}
                                {# aqui va la ultima iteracion #}
                                {% if anterior.numeroContrato == list.numeroContrato %}
                                    <tr>
                                        <td>{{list.contrato}}</td>
                                        <td>{{list.numeroContrato}}</td>
                                        <td style="display:none;">{{list.idproducto}}</td>
                                        <td>{{list.codigoProducto}}</td>
                                        <td style="display:none;">{{list.idproveedor}}</td>
                                        <td>{{list.nombreProveedor}}</td>
                                        <td>{{list.declargo}}</td>
                                        
                                        <td>{{list.precioUnitario|round(2,'floor')}}</td>
                                        <td>{{list.cantidad * list.precioUnitario|round(2,'floor')}}</td>
                                        <td><input id="{{contador}}" onchange="calcular({{contador}},{{list.contrato}});" type="number" min="0" name="cantidad" style="max-width:60px;"></td>
                                        <td>0</td>
                                        <td>{{list.renglon}}</td>
                                        <td>
                                            <select style="max-width:100px;">
                                                <option value="0">Elija un establecimiento</option>
                                                {% for estab in establecimientos %}
                                                    <option value="{{estab.id}}">{{estab.nombreEstablecimiento}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                    <tr class="warning" id="fila{{list.contrato}}">
                                        <td colspan="3"><b>Monto total a incrementar del contrato {{list.numeroContrato}}:</b></td>
                                        <td>0</td>
                                        <td colspan="3"><b>Monto total del Contrato:</b></td>
                                        <td>{{list.montoContrato}}</td>
                                        <td><b>Monto actual a incrementar por contrato</b></td>
                                        <td id="subtotalContrato">0</td>
                                    </tr>
                                {% else %}
                                    <tr class="warning" id="fila{{anterior.contrato}}">
                                    <td colspan="3"><b>Monto total a incrementar del contrato {{anterior.numeroContrato}}:</b></td>
                                    <td>0</td>
                                    <td colspan="3"><b>Monto total del Contrato:</b></td>
                                    <td>{{anterior.montoContrato}}</td>
                                    <td><b>Monto actual a incrementar por contrato</b></td>
                                    <td id="subtotalContrato">0</td>
                                </tr>
                                <tr>
                                <td>{{list.contrato}}</td>
                                <td>{{list.numeroContrato}}</td>
                                <td style="display:none;">{{list.idproducto}}</td>
                                <td>{{list.codigoProducto}}</td>
                                <td style="display:none;">{{list.idproveedor}}</td>
                                <td>{{list.nombreProveedor}}</td>
                                <td>{{list.declargo}}</td>
                                
                                <td>{{list.precioUnitario|round(2,'floor')}}</td>
                                <td>{{list.cantidad * list.precioUnitario|round(2,'floor')}}</td>
                                <td><input id="{{contador + 1}}" onchange="calcular({{contador}},{{list.contrato}});" type="number" min="0" name="cantidad" style="max-width:60px;"></td>
                                <td>0</td>
                                <td>
                                    <select style="max-width:100px;">
                                        <option value="0">Elija un establecimiento</option>
                                        {% for estab in establecimientos %}
                                            <option value="{{estab.id}}">{{estab.nombreEstablecimiento}}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                            </tr>
                            <tr class="warning" id="fila{{list.contrato}}">
                                        <td colspan="3"><b>Monto total a incrementar del contrato {{list.numeroContrato}}:</b></td>
                                        <td>0</td>
                                        <td colspan="3"><b>Monto total del Contrato:</b></td>
                                        <td>{{list.montoContrato}}</td>
                                        <td><b>Monto actual a incrementar por contrato</b></td>
                                        <td id="subtotalContrato">0</td>
                                    </tr>
                                {% endif %}


                            {% else %}
                                {# iteraciones intermedias #}
                                {% set contador = contador + 1 %}
                                {% set anterior = cycle(listado,contador-1) %}
                                {% if anterior.numeroContrato == list.numeroContrato %}
                                    <tr>
                                        <td>{{list.contrato}}</td>
                                        <td>{{list.numeroContrato}}</td>
                                        <td style="display:none;">{{list.idproducto}}</td>
                                        <td>{{list.codigoProducto}}</td>
                                        <td style="display:none;">{{list.idproveedor}}</td>
                                        <td >{{list.nombreProveedor}}</td>
                                        <td>{{list.declargo}}</td>
                                        
                                        <td>{{list.precioUnitario|round(2,'floor')}}</td>
                                        <td>{{list.cantidad * list.precioUnitario|round(2,'floor')}}</td>
                                        <td><input onchange="calcular({{contador}},{{list.contrato}});" id="{{contador}}" type="number" min="0" name="cantidad" style="max-width:60px;"></td>
                                        <td>0</td>
                                        <td>{{list.renglon}}</td>
                                        <td>
                                            <select style="max-width:100px;">
                                                <option value="0">Elija un establecimiento</option>
                                                {% for estab in establecimientos %}
                                                    <option value="{{estab.id}}">{{estab.nombreEstablecimiento}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr class="warning" id="fila{{anterior.contrato}}">
                                        <td colspan="3"><b>Monto total a incrementar del contrato {{anterior.numeroContrato}}:</b></td>
                                        <td>0</td>
                                        <td colspan="3"><b>Monto total del Contrato:</b></td>
                                        <td>{{anterior.montoContrato}}</td>
                                        <td><b>Monto actual a incrementar por contrato</b></td>
                                        <td id="subtotalContrato">0</td>
                                    </tr>
                                    <tr>
                                        <td>{{list.contrato}}</td>
                                        <td>{{list.numeroContrato}}</td>
                                        <td style="display:none;">{{list.idproducto}}</td>
                                        <td>{{list.codigoProducto}}</td>
                                        <td style="display:none;">{{list.idproveedor}}</td>
                                        <td>{{list.nombreProveedor}}</td>
                                        <td>{{list.declargo}}</td>
                                        
                                        <td>{{list.precioUnitario|round(2,'floor')}}</td>
                                        <td>{{list.cantidad * list.precioUnitario|round(2,'floor')}}</td>
                                        <td><input id="{{contador}}" onchange="calcular({{contador}},{{list.contrato}});" type="number" min="0" name="cantidad" style="max-width:60px;"></td>
                                        <td>0</td>
                                        <td>{{list.renglon}}</td>
                                        <td>
                                            <select style="max-width:100px;">
                                                <option value="0">Elija un establecimiento</option>
                                                {% for estab in establecimientos %}
                                                    <option value="{{estab.id}}">{{estab.nombreEstablecimiento}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                {% endif %}{# fin de contratos iguales #}

                            {% endif %}{# fin de if de la ultima iteracion #}
                        {% endif %}{# fin del if de la primera iteracion #}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            {# aqui va el analisis de criticidad #}
            <div role="tabpanel" class="tab-pane fade" id="profile6">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <div>
                            <table id="criticidad" class="table table-hover color-table info-table">
                                <thead>
                                    <tr>
                                        <th>Id Producto</th>
                                        <th>Nombre Producto</th>
                                        <th>VEN</th>
                                        <th>Unidad de Medida</th>
                                        <th style="display:none">establecimiento</th>
                                        <th>Compras en Transito</th>
                                        <th>Comsumo Promedio</th>
                                        <th>Existencias</th>
                                        <th style="display:none">Vencidos</th>
                                        <th>Abastecimiento</th>
                                        <th>Criticidad</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for data in dataCobertura %}
                                        <tr>
                                            <td>{{data["0"]}}</td>
                                            <td>{{data["1"]}}</td>
                                            <td>{{data["2"]}}</td>
                                            <td>{{data["3"]}}</td>
                                            <td style="display:none">{{data["4"]}}</td>
                                            <td>{{data["5"]}}</td>
                                            <td>{{data["6"]}}</td>
                                            <td style="display:none">{{data["7"]}}</td>
                                            <td>{{data["8"]}}</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{{ parent() }}

<script>
    $(document).ready(function($) {

        $('#div_carga').hide();
        $('#GuardaIncremento').click(function() {
            
            grabarIncremento();
        }); 
    });
    function grabarIncremento() {
        var debug;
        var r = confirm("Desea terminar el analisi y guardar en la base de datos? Espere a que le redireccione la web");
        if (r == true) {
            $('#detalle tbody tr').each(function() {
                $('#div_carga').show();
                var fila = $(this);
                if (fila.attr('class')=='warning') {

                }
                else{
                     var id_incremento = parseInt('{{incremento.id}}');
                    var numero_compra = parseInt('{{incremento.numeroModalidadCompra.id}}');
                    var id_proveedor = parseInt(fila.find("td").eq(4).html());
                    var id_producto = parseInt(fila.find("td").eq(2).html());
                    var cantidad_incrementada = parseInt(fila.find("td").eq(9).find("input").eq(0).val());
                    var precio_unitario = parseFloat(fila.find("td").eq(7).html());
                    var monto_incrementado = parseFloat(fila.find("td").eq(10).html());
                    var renglon = parseInt(fila.find("td").eq(11).html());
                    var establecimiento = parseInt(fila.find("td").eq(12).find("select").eq(0).val());
                    var contrato = fila.find("td").eq(0).html();
                    if (establecimiento==0) {
                        establecimiento = null;
                    }
                    var url = "{{ path('minsal_contrato_analizador_guardar_analisis') }}";

                    $.ajax({
                        url: url,
                        data:{
                            'id_incremento':id_incremento,
                            'numero_compra':numero_compra,
                            'id_contrato':contrato,
                            'id_proveedor':id_proveedor,
                            'id_producto':id_producto,
                            'cantidad_incrementada':cantidad_incrementada,
                            'precio_unitario':precio_unitario,
                            'monto_incrementado':monto_incrementado,
                            'renglon':renglon,
                            'establecimiento':establecimiento
                        },
                        type: 'post'
                    }).done(function (data) {
                        debug = 'analisis guardado';
                        
                    }).fail(function () {
                        debug = 'analisis fallo';
                    });
                }
                

            });
        } else {
            
        }

            cambiarEstado();
        
    }

    function cambiarEstado(){

        var estado = 10;
        var url = "{{ path('minsal_incremento_cambiar_estado') }}";
        var id = "{{incremento.id}}";
        $.ajax({
            url: url,
            data: {
                'estado':estado,
                'id': id,
            },
            type: 'post',
        }).done(function(data) {
            alert(data);
            location.href ="{{ path('minsal_contrato_inicio_proceso_inicio') }}";
        }).fail(function() {
            alert('upps algo ha pasado en el ajax');
        });
    }
</script>



<script type="text/javascript">
$(document).ready(function() {
	calculosIniciales();
    calcularCriticidad();
		
	});

function    calcular(id,contrato){
    //obtenemos la fila
    var fila = $('#'+id).parent().parent();

     //fila donde se encuentra los montos del contrato y el 20%
     var filamonto = $('#fila'+contrato);
     //es el monto del 20% del contrato
     var monto20 = parseFloat(filamonto.find("td").eq(1).html()); 

     var precioUnitario = parseFloat(fila.find("td").eq(7).html());

     var cantidadIncrementar = fila.find("td").eq(9).find("input").eq(0).val();
     //subtotal nuevo solo de un producto
     var subtotal = parseFloat(precioUnitario*cantidadIncrementar);
     //subtotal viejo antes de hacer los calculos
     var subtotalviejo = parseFloat(fila.find("td").eq(10).html());
     var totalActual = parseFloat(filamonto.find("td").eq(5).html());
     fila.find("td").eq(10).html((cantidadIncrementar*precioUnitario).toFixed(2));
     if (subtotalviejo<subtotal) {
        var diferencia = subtotal-subtotalviejo;
        filamonto.find("td").eq(5).html((totalActual+diferencia).toFixed(2));
        calculosGenerales();

     }
     else{
        var diferencia = subtotalviejo-subtotal;
        filamonto.find("td").eq(5).html((totalActual-diferencia).toFixed(2));
        calculosGenerales();

     }
     var totalNuevo = parseFloat(filamonto.find("td").eq(5).html());
     if (totalNuevo>monto20) {
        alert('este monto a incrementar se pasa del 20%');
        filamonto.find("td").eq(5).html(totalActual);
        fila.find("td").eq(10).html(subtotalviejo);
        fila.find("td").eq(9).find("input").eq(0).val(Math.round(subtotalviejo/precioUnitario));
        calculosGenerales();

     }


}

function calculosGenerales() {
	var contador = 0;
	$('#detalle tbody tr').each(function() {
		
		if ($(this).attr('class')=='warning') {
			var fila = $(this);
			contador = contador + parseFloat(fila.find("td").eq(10).html());
		}
	});
	$('#totalIncremento').html(contador.toFixed(2));
	if ((parseFloat($('#presupuesto').val())-contador) <= 0) {
		alert('su presupuesto se ha agotado!!')
	}
	$('#montoDisponible').html((parseFloat($('#presupuesto').val())-contador).toFixed(2));
	
}
function calculosIniciales() {
	$('#detalle tbody tr').each(function() {
		if ($(this).attr('class')=='warning') {
			var fila = $(this);
	fila.find("td").eq(1).html(parseFloat(fila.find("td").eq(3).html())*0.2);

		}
	})
}


function calcularCriticidad() {
    $('#criticidad tbody tr').each(function() {
        var fila = $(this);
        var ct = parseFloat(fila.find("td").eq(5).html());
        var cpa = parseFloat(fila.find("td").eq(6).html());
        var exis = parseFloat(fila.find("td").eq(7).html());
        var venc = parseFloat(fila.find("td").eq(8).html());
        fila.find("td").eq(9).html(((ct+exis-venc)/cpa).toFixed(2));
        var abast = parseFloat(fila.find("td").eq(9).html());
        if (abast <= 3) {
            fila.find("td").eq(10).html('CRITICO');
            fila.find("td").eq(10).attr('class','bg-danger');

        }
        if (abast <= 7 && abast >3) {
            fila.find("td").eq(10).html('MEDIO CRITICO');
            fila.find("td").eq(10).attr('class','bg-warning');

            }
        if (abast > 7) {
            fila.find("td").eq(10).html('NO CRITICO');
            fila.find("td").eq(10).attr('class','bg-success');

            }
    });
}
</script>

{% endblock %}