{% extends 'base.html.twig' %}
{% block head_css %}
	{{ parent() }}
   <!-- Bootstrap Core CSS -->\
    <link href="{{ asset('assets/') }}plugins/bower_components/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />

{% endblock %}

{% block body %}

<div class="container">
	<div class="white-box">
		<div class="panel panel-primary">
	        <div class="panel-heading"> Presupuesto 
	            <div class="pull-right"><a href="javascript:void(0)" data-perform="panel-collapse"><i class="ti-minus"></i></a> <a href="javascript:void(0)" data-perform="panel-dismiss"><i class="ti-close"></i></a> </div>
	        </div>
	        <div class="panel-wrapper collapse in" aria-expanded="true">
	            <div class="panel-body">
	                <p><b>digite el monto disponible que tiene para comprar</b> <input type="text" id="presupuesto"></p>
	                <p><b>Monto Actual Total a Incrementar:</b><span class="text-info" id="totalIncremento">0</span></p>
	                <p><b>Monto Disponible</b><span class="text-warning" id="montoDisponible"></span></p>
	            </div>
	        </div>
	    </div>
	</div>
    <div class="white-box">

        <div class="table-responsive">
            <div>
            	<table id="detalle" class="table table-hover color-table success-table">
                <thead>
                    <tr>
                    	<th>Compra</th>
                    	<th>Codigo Producto</th>
                    	<th i>Nombre Proveedor</th>
                    	<th>Nombre Producto</th>
                    	<th>Precio Unitario</th>
                    	<th>monto comprado</th>
                    	
                    	<th>Cantidad a Incrementar</th>
                    	<th>SubTotal</th>
                    </tr>
                </thead>
                <tbody>
                	{% for list in listado %}

                		{% if loop.first %}
                			{% set contador = 0 %}
                		<tr>
                			<td><b>{{list.numeroContrato}}</b></td>
                			<td>{{list.codigoProducto}}</td>
                			<td>{{list.nombreProveedor}}</td>
                			<td>{{list.nombreProducto}}</td>
                			
                			<td>{{list.precioUnitario|round(2,'floor')}}</td>
                			<td>{{list.cantidad * list.precioUnitario|round(2,'floor')}}</td>
                			<td><input id="{{list.idContratoSibasi}}" type="number" min="0" name="cantidad" style="max-width:60px;"></td>
                			<td>0</td>
                		</tr>
                		{% else %}
                			{% set contador = contador + 1 %}
                			{% set anterior = cycle(listado,contador-1) %}
                			{% if anterior.numeroContrato == list.numeroContrato %}
                			<tr>
                				<td></td>
	                			<td>{{list.codigoProducto}}</td>
	                			<td >{{list.nombreProveedor}}</td>
	                			<td>{{list.nombreProducto}}</td>
	                			
                				<td>{{list.precioUnitario|round(2,'floor')}}</td>
	                			<td>{{list.cantidad * list.precioUnitario|round(2,'floor')}}</td>
	                			<td><input id="{{list.idContratoSibasi}}" type="number" min="0" name="cantidad" style="max-width:60px;"></td>
	                			<td>0</td>
                			</tr>
                				{% if loop.last %}
                					<tr class="warning" id="fila{{anterior.idContratoSibasi}}">
                					<td colspan="3"><b>Monto total a incrementar del contrato(20%) {{list.numeroContrato}}:</b></td>
                					<td>0</td>
                					<td colspan="4">Monto Total del Contrato:$</td>
                					<td>{{list.montoContrato}}</td>
                				</tr>
                				{% endif %}
                			
                			{% else %}
                				<tr class="warning" id="fila{{anterior.idContratoSibasi}}">
                					<td colspan="3"><b>Monto total a incrementar del contrato {{anterior.numeroContrato}}:</b></td>
                					<td>0</td>
                					<td colspan="4"><b>Monto total del Contrato:$</b></td>
                					<td>{{anterior.montoContrato}}</td>
                				</tr>
                				<tr>
                				<td><b>{{list.numeroContrato}}</b></td>
	                			<td>{{list.codigoProducto}}</td>
	                			<td>{{list.nombreProveedor}}</td>
	                			<td>{{list.nombreProducto}}</td>
	                			
                				<td>{{list.precioUnitario|round(2,'floor')}}</td>
	                			<td>{{list.cantidad * list.precioUnitario|round(2,'floor')}}</td>
	                			<td><input id="{{list.idContratoSibasi}}" type="number" min="0" name="cantidad" style="max-width:60px;"></td>
	                			<td>0</td>
                			</tr>
                			{% endif %}
                		{% endif %}

                		
                	{% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{{ parent() }}
<script type="text/javascript">
$(document).ready(function() {

	$("input[name=cantidad]").change(function() {
		//se obtiene la fila de la tabla
		var fila = $(this).parent().parent();
		//se obtienen las variables necesarias
		var diferencia;
		var subtotalguardar;
		var precioUnitario = parseFloat(fila.find("td").eq(4).html());

		var cantidadIncremento =  $(this).val();

		var subtotalviejo = parseFloat(fila.find("td").eq(7).html());

        var subtotalnuevo = precioUnitario*cantidadIncremento;

        if (subtotalnuevo>subtotalviejo) {
        	diferencia = subtotalnuevo-subtotalviejo;
        	subtotalguardar = subtotalviejo+diferencia;
        }
        else{
        	diferencia = subtotalviejo-subtotalnuevo;
        	subtotalguardar = subtotalviejo-diferencia;
        }

        if (subtotalguardar<=parseFloat(fila.find("td").eq(5).html())*0.20) {
        	fila.find("td").eq(7).html(subtotalguardar);
        }
        else{
        	alert('no sea mamon se paso');
        }


		
	});

});
</script>

{% endblock %}