{% extends 'base.html.twig' %}
{% block title%} Analizador {% endblock %}
{% block body %}
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="white-box">
                <h3 class="box-title m-b-0">Compra N. {{incre.incrementoModalidadCompra.numeroModalidad}}</h3>
                <h3 class="text-muted m-b-40">Contrato N. {{contrato.numeroContrato}}</h3>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#presupuesto" aria-controls="presupuesto" role="tab" data-toggle="tab" aria-expanded="true">
                            <span class="visible-xs">
                                <i class="ti-presupuesto"></i>
                            </span>
                            <span class="hidden-xs">Analisis de 20% de incremento</span>
                        </a>
                    </li>
                    <li role="presentation" class="">
                        <a href="#criticidad" aria-controls="criticidad" role="tab" data-toggle="tab" aria-expanded="false">
                            <span class="visible-xs">
                                <i class="ti-user"></i>
                            </span> 
                            <span class="hidden-xs">Analisis de Criticidad</span>
                        </a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="presupuesto">
                        <div class="col-sm-12">
                            <div class="white-box">
                                {# aqui empieza el encabezado de la tabla #}
                                <div class="col-sm-12">
                                    <div class="panel panel-inverse">
                                    <div class="panel-heading"> Detalle
                                        <div class="pull-right"><a href="javascript:void(0)" data-perform="panel-collapse"><i class="ti-minus"></i></a> </div>
                                    </div>
                                    <div class="panel-wrapper collapse in" aria-expanded="true">
                                        <div class="panel-body row">
                                            <div class="col-xs-3">
                                                <p class="alert alert-info">Monto Total del Contrato: $ <span id="montocontrato">
                                                    {{contrato.montoContrato}}</span></p>
                                            </div>
                                            <div class="col-xs-3">
                                                <p class="alert alert-info">Monto del 20% de Incremento: $ <span id="incre"></span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                                {# aqui empieza la tabla #}
                                <div class="col-sm-12">
                                    <div class="table-responsive">
                                        <table class="table color-table dark-table" id="detalle">
                                            <thead>
                                                <tr>
                                                    <th>Codigo Producto</th>
                                                    <th>Proveedor</th>
                                                    <th>Nombre Producto</th>
                                                    <th>Unidades Compradas</th>
                                                    <th>Precio Unitario</th>
                                                    <th>Monto Comprado</th>
                                                    <th>Unidades a Incrementar</th>
                                                    <th>Sub Total: $</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                {% for med in productocontrato %}
                                                    <tr>
                                                        <td>{{ med.mtnProducto }}</td>
                                                        <td>{{ med.mtnProveedor }}</td>
                                                        <td>nombreproducto</td>
                                                        <td>{{ med.cantidad }}</td>
                                                        <td>{{ med.precioUnitario }}</td>
                                                        <td></td>
                                                        <td><input id="{{med.mtnProducto}}" type="number" onchange="calcular({{med.mtnProducto}})" ></td>
                                                    <td></td>
                                                    </tr>
                                                {% endfor %}
                                                
                                                {# formato para listar medicamentos 
                                                <tr>
                                                    <td>4351</td>
                                                    <td>proveedor 4</td>
                                                    <td>producto 4</td>
                                                    <td></td>
                                                    <td>21.23</td>
                                                    <td>424.6</td>
                                                    <td><input id="4351" type="number" onchange="calcular(4351)" ></td>
                                                    <td></td>
                                                </tr> #}
                                                
                                            </tbody>
                                        </table>
                                        <div class="alert alert-inverse row">
                                                    <p class="col-xs-6">total a incrementar:<span id="incremento"></span></p>
                                                    <div class="col-xs-2">
                                                        <a id="guardar" class="btn btn-danger">Guardar</a>
                                                    </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>


                    <div role="tabpanel" class="tab-pane" id="criticidad">
                        <div class="white-box">
                            <div class="col-xs-12">
                                <div class="table-responsive">
                                    <table class="table color-table dark-table">
                                            <thead>
                                                <tr>
                                                    <th>IdProducto</th>
                                                    <th>Descripcion</th>
                                                    <th>Clasificacion</th>
                                                    <th>Unidad Medida</th>
                                                    <th>Compra en transito</th>
                                                    <th>Consumo Promedio</th>
                                                    <th>Existencias</th>
                                                    <th>Cobertura</th>
                                                    <th>Criticidad</th>
                                                    <th>Prioridad</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr>
                                                    <td>Producto</td>
                                                    <td>Proveedor</td>
                                                    <td>ext/tr</td>
                                                    <td>CPM</td>
                                                    <td>C. Trans</td>
                                                    <td>Total</td>
                                                    <td>Cobertura</td>
                                                    <td>Criticidad</td>
                                                    <td>Prioridad</td>
                                                </tr>
                                                
                                            </tbody>
                                        </table>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
{{ parent() }}
<script type="text/javascript">
    $(document).ready(function() {
        CalculosIniciales();
        //UnidadesCompradas();
        
        montosComprados();
        UnidadesAComprarPred();
        escrituraInicialSubTotales();
        $('#guardar').click(function() {

            $('#detalle tbody tr').each(function() {
                var producto = $(this).find("td").eq(0).html();
                var cantidad = $(this).find("td").eq(6).find("input").val();
                var contrato = '{{contrato.idContrato}}';
                var monto = $(this).find("td").eq(7).html();
                $.ajax({
                    url : '{{ path('minsal_contrato_analizador_ajax_guardar') }}',
                    data: {
                        'producto':producto,
                        'cantidad':cantidad,
                        'contrato':contrato,
                        'monto':monto
                    },
                    type: 'POST'
                }).done(function(data) {
                     $('#detalle tbody tr').each(function() {
                        var input = $(this).find("td").eq(6).find("input");
                        input.prop('disabled',true);
                        alert('Datos guardados exitosamente');
                     });
                });
            });

        });
    });
    function montosComprados() {
        $('#detalle tbody tr').each(function() {
            var precio = parseFloat($(this).find("td").eq(4).html());
            var cantidades = parseFloat($(this).find("td").eq(3).html());
            $(this).find("td").eq(5).html(cantidades*precio);

        });
    }
    function CalculosIniciales(){
        /* calculod el 20% de monto total del incremento */
        var monto = parseFloat($('#montocontrato').html());
        var incre = monto * 0.20;
        $('#incre').html(incre);

    }
    function UnidadesCompradas() {
        $('#detalle tbody tr').each(function() {
            var precio = parseFloat($(this).find("td").eq(4).html());
            var tot = parseFloat($(this).find("td").eq(5).html());
            $(this).find("td").eq(3).html(tot/precio);

        });
    }
    function UnidadesAComprarPred() {
        $('#detalle tbody tr').each(function() {
            var monto = parseFloat($(this).find("td").eq(5).html());
            var valorIncre = monto*0.20;
            var precio = parseFloat($(this).find("td").eq(4).html());
            $(this).find("td").eq(6).find("input").val(parseInt(valorIncre/precio));
        });
    }
    function escrituraInicialSubTotales() {
        var subtotal = 0;
        $('#detalle tbody tr').each(function () {
            var precio = parseFloat($(this).find("td").eq(4).html());
            var uIncre = $(this).find("td").eq(6).find("input").val();
            $(this).find("td").eq(7).html(parseFloat(precio*uIncre).toFixed(2));
            });
        $('#detalle tbody tr').each(function () {
            subtotal = subtotal + parseFloat($(this).find("td").eq(7).html());
        });
        $('#incremento').html(subtotal);
        
    }
    function calcular(id) {

        var fila = $('#'+id).parent().parent();
        var precio = parseFloat(fila.find("td").eq(4).html());
        var unidades = fila.find("td").eq(6).find("input").val();
        var subviejo = parseFloat(fila.find("td").eq(7).html());
        var subnuevo = (precio*unidades).toFixed(2);
        if (subviejo < subnuevo) {
            var diferencia = subnuevo - subviejo;
        }
        else{
            var diferencia = subviejo - subnuevo;

        }
        var posibleTotal = parseFloat($('#incremento').html())+diferencia;
        var incrementoTotal = $('#incre').html();
        if (posibleTotal.toFixed(2) <= parseFloat(incrementoTotal)) {
            var precio = parseFloat(fila.find("td").eq(4).html());
            var uIncre = fila.find("td").eq(6).find("input").val();
            fila.find("td").eq(7).html(parseFloat(precio*uIncre).toFixed(2));
            escrituraInicialSubTotales();
        }
        else{
            alert("el monto de $"+diferencia+" sobrepasa la cantidad  20% del contrato");
        }
    }
    function calcularSubTotales() {
        var subtotal = 0;
        $('#tabla tbody tr').each(function () {
            
            subtotal = subtotal + parseFloat($(this).find("td").eq(7).html());
            });
        

        return subtotal;
             
    }
</script>
    
{% endblock %}