{% extends 'base.html.twig' %}
{% block body %}
{{ parent() }}

<div class="row">
<div class="white-box">
<h3 class="box-title">Analizador de prorroga de contratos</h3>
<div class="table-responsive">
	<table class="table color-table success-table">
		<thead>
			<tr>
				<th>Contrato</th>
				<th>Proveedor</th>
				<th>Establecimientos</th>
				<th>Codigo Medicamento</th>
				<th>Nombre Medicamento</th>
				<th>Cantidad Total Prorrogada</th>
				<th>Monto Total a prorrogar</th>
				<th>P-569</th>
				<th>p-600</th>
				<th>P-661</th>
				<th>P-663</th>
				<th>P-664</th>
				<th>P-665</th>
				<th>P-666</th>
			</tr>
		</thead>
		<tbody>
			
			
			{% if respuesta is null %}
				<h1>No hay datos para mostrar</h1>
			{% else %}
				{% for dato in respuesta['respuesta'] %}
				<tr>
					<td>{{ dato["3"] }}</td>
					<td>{{ dato["5"] }}</td>
					<td>{{ dato["11"] }}</td>
					<td>{{ dato["2"] }}</td>
					<td>{{ dato["6"] }}</td>
					<td>{{ dato["8"] }}</td>
					<td>{{ dato["9"] }}</td>
					<td>{{ dato["10"] }}</td>
					<td>{{ dato["11"] }}</td>
					<td>{{ dato["12"] }}</td>
					<td>{{ dato["13"] }}</td>
					<td>{{ dato["14"] }}</td>
					<td>{{ dato["15"] }}</td>
					<td>{{ dato["16"] }}</td>
				</tr>
			{% endfor %}
			{% endif %}
		</tbody>
	</table>
</div>
</div>
</div>
{% endblock %}