{% extends 'base.html.twig' %}
{% block title %}Depuracion de Medicamentos{% endblock %}
{% block head_css %}
	{{ parent() }}
    <link href="{{ asset('assets/') }}plugins/bower_components/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
	<!-- Menu CSS -->
    <link href="{{ asset('assets/') }}plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="{{ asset('assets/') }}sinab/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ asset('assets/') }}sinab/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="{{ asset('assets/') }}sinab/css/colors/megna-dark.css" id="theme" rel="stylesheet">
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-sm-12">
			<div class="white-box">
				<h3 class="box-title m-b-0">Depuracion de Medicamentos Por Contrato</h3>
				<p class="text-muted m-b-30">UACI</p>
				
				<div class="table-responsive">
					<table id="meds" class="table table-striped">
						<thead>
							<tr>
								<th>Id de medicamento</th>
								<th>Nombre del medicamento</th>
								<th>estado</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							
								{{dump(medicamentos)}}
							
						</tbody>
					</table>
					<button id="Guardar" class="btn btn-danger">Guardar</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}
{{ parent() }}
<script>
	$(document).ready(function($) {
		$('#Guardar').click(function() {
			obtenerMedicamentos();
		});	
	});
	function obtenerMedicamentos(){
		
		var medicamento;
		var listaMedicamentos = [];

		var url = "{{ path('minsal_contrato_cambiar_estado_medicamento') }}";
		var tabla = $('#meds tbody tr').each(function() {
			if ($(this).find("td").eq(2).find("input").is(":checked")) {
				medicamento = $(this).find("td").eq(2).find("input").val();
				var nodo = {'medicamento':medicamento,'estado':9};
				listaMedicamentos.push(nodo);
			}
			else{
				medicamento = $(this).find("td").eq(2).find("input").val();
				var nodo = {'medicamento':medicamento,'estado':8};
				listaMedicamentos.push(nodo);
			}
		});
		$.ajax({
			url: url,
			type: 'POST',
			data: {
				'listaMedicamentos': listaMedicamentos,
			},
		})
		.done(function(data) {
			alert(data);
		})
		.fail(function() {
			alert('Algo salio mal');
		});
		

	}
</script>


{% endblock %}
