{% extends 'base.html.twig' %}
{% block head_css %}
	{{ parent() }}
    <link href="{{ asset('assets/') }}plugins/bower_components/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
	<!-- Menu CSS -->
    <link href="{{ asset('assets/') }}plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="{{ asset('assets/') }}sinab/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ asset('assets/') }}sinab/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="{{ asset('assets/') }}sinab/css/colors/megna-dark.css" id="theme" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="row" >
	<div class="col-sm-12">
	    <div class="white-box">
	        <h3 class="box-title m-b-0">Cifrado Presupuestario</h3>
	        <p class="text-muted m-b-30"></p>
	        <div class="table-responsive">
	            <table id="myTable" class="table table-striped">
	                <thead>
	                    <tr>
	                        <th>Numero del medicamento</th>
	                        <th>otra columna</th>
	                        <th>Boton</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr>
	                        <td>Tiger Nixon</td>
	                        <td>System Architect</td>
	                        <td><input type="text"></td>
	                       
	                    </tr>
	                    <tr>
	                        <td>Garrett Winters</td>
	                        <td>Accountant</td>
	                        <td><input type="text"></td>
	                       
	                        
	                    </tr>
	                    <tr>
	                        <td>Ashton Cox</td>
	                        <td>Junior Technical Author</td>
	                         <td><input type="text"></td>
	                        
	                        
	                    </tr>
	                    <tr>
	                        <td>Cedric Kelly</td>
	                        <td>Senior Javascript Developer</td>
	                         <td><input type="text"></td>
	                
	                       
	                    </tr>
	                    <tr>
	                        <td>Airi Satou</td>
	                        <td>Accountant</td>
	                        <td><input type="text"></td>
	                   
	                        
	                    </tr>
	                    <tr>
	                        <td>Brielle Williamson</td>
	                        <td>Integration Specialist</td>
	                         <td><input type="text"></td>
	                
	                        
	                    </tr>
	                    <tr>
	                        <td>Herrod Chandler</td>
	                        <td>Sales Assistant</td>
	                         <td><input type="text"></td>
	                   
	                        
	                    </tr>
	                    <tr>
	                        <td>Rhona Davidson</td>
	                        <td>Integration Specialist</td>
	                        <td><input type="text"></td>
	                
	                       
	                    </tr>
	                    <tr>
	                        <td>Colleen Hurst</td>
	                        <td>Javascript Developer</td>
	                         <td><input type="text"></td>
	                   
	                       
	                    </tr>
	                    <tr>
	                        <td>Sonya Frost</td>
	                        <td>Software Engineer</td>
	                         <td><input type="text"></td>
	                   
	                        
	                    </tr>
	                    
	                    <tr>
	                        <td>Thor Walton</td>
	                        <td>Developer</td>
	                         <td><input type="text"></td>
	                
	                        
	                    </tr>
	                    <tr>
	                        <td>Finn Camacho</td>
	                        <td>Support Engineer</td>
	                         <td><input type="text"></td>
	                   
	                       
	                    </tr>
	                    <tr>
	                        <td>Serge Baldwin</td>
	                        <td>Data Coordinator</td>
	                         <td><input type="text"></td>
	                
	                        
	                    </tr>
	                   
	                </tbody>
	            </table>
	        </div>
	    </div>		
</div>
{% endblock %}
{% block js %}
{{ parent() }}
	<script src="{{ asset('assets/') }}plugins/bower_components/datatables/jquery.dataTables.min.js"></script>
	<script>
		$(document).ready(function() {
			$('#myTable').DataTable();
			$(document).ready(function() {
				var table = $('#example').DataTable({
					"columnDefs": [{
						"visible": false,
						"targets": 2
					}],
					"order": [
					[2, 'asc']
					],
					"displayLength": 25,
					"drawCallback": function(settings) {
						var api = this.api();
						var rows = api.rows({
							page: 'current'
						}).nodes();
						var last = null;
						api.column(2, {
							page: 'current'
						}).data().each(function(group, i) {
							if (last !== group) {
								$(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
								last = group;
							}
						});
					}
				});
				// Order by the grouping
				$('#example tbody').on('click', 'tr.group', function() {
					var currentOrder = table.order()[0];
					if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
						table.order([2, 'desc']).draw();
					} else {
						table.order([2, 'asc']).draw();
					}
				});
			});
		});
		$('#example23').DataTable({
			dom: 'Bfrtip',
			buttons: [
			'copy', 'csv', 'excel', 'pdf', 'print'
			]
		});
	</script>
{% endblock %}