{% extends 'base.html.twig' %}
{% block head_css %}
	{{ parent() }}
    <link href="{{ asset('assets/') }}plugins/bower_components/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
	<!-- Menu CSS -->
    <link href="{{ asset('assets/') }}plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="{{ asset('assets/') }}sinab/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ asset('assets/') }}sinab/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="{{ asset('assets/') }}sinab/css/colors/megna-dark.css" id="theme" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="row" >
	<div class="col-md-6">
        <h3 class="box-title">Listado de Compras en Proceso de Incremento</h3>
        <div class="table-responsive">
            <table class="table color-table success-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Compra</th>
                        <th>Fecha de creacion</th>
                        <th>Estimacion de necesidades</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="detalleIncremento">
                    {% for incremento in incrementos %}
                        <tr>
                            <td>{{ incremento.id }}</td>
                            <td>{{ incremento.incrementoModalidadCompra.numeroModalidad }}</td>
                            <td>{{ incremento.fechaCreacion|date("d/m/Y") }}</td>
                            <td>{{incremento.estimacion.descripcionProgramacion}}</td>
                            <td>{{ incremento.estadoIncremento.descripcionEstado }}</td>
                            <td>
                            {% if incremento.estadoIncremento.id == 8 %}
                                <a href="{{ path('minsal_contrato_contratos_incremento',{'incremento': incremento.incrementoModalidadCompra.id} ) }}" class="btn btn-info">Agregar Cifrado</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
<!--======================Fin Tabla de incrementos ===================================== -->

<!--======================Tabla de prorroga ============================= -->


<div class="col-md-6">
    <h3 class="box-title">Listado de Compras en Proceso de Prorroga</h3>
    <div class="table-responsive">
        <table class="table color-table muted-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Compra</th>
                    <th>Fecha de creacion</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="detalleProrroga">
                {% for prorroga in prorrogas %}
                    <tr>
                        <td>{{ prorroga.id }}</td>
                        <td>{{ prorroga.prorrogaModalidadCompra.numeroModalidad }}</td>
                        <td>{{ prorroga.fechaCreacion|date("d/m/Y") }}</td>
                        <td>{{ prorroga.estadoProrroga.descripcionEstado }}</td>
                        <td>
                            {% if prorroga.estadoProrroga.id == 8 %}
                                <a href="{{ path('minsal_contrato_contratos_incremento') }}" class="btn btn-info">Agregar Cifrado</a>
                            {% endif %}
                        </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</div>
<!--======================Fin Tabla de prorroga ============================= -->
</div>
{% endblock %}
{% block js %}
{{ parent() }}
	<script src="{{ asset('assets/') }}plugins/bower_components/datatables/jquery.dataTables.min.js"></script>
	<script>
		$(document).ready(function() {
			$('#myTable').DataTable();
			$(document).ready(function() {
				var table = $('#example').DataTable({
					"columnDefs": [{
						"visible": false,
						"targets": 2
					}],
					"order": [
					[2, 'asc']
					],
					"displayLength": 25,
					"drawCallback": function(settings) {
						var api = this.api();
						var rows = api.rows({
							page: 'current'
						}).nodes();
						var last = null;
						api.column(2, {
							page: 'current'
						}).data().each(function(group, i) {
							if (last !== group) {
								$(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
								last = group;
							}
						});
					}
				});
				// Order by the grouping
				$('#example tbody').on('click', 'tr.group', function() {
					var currentOrder = table.order()[0];
					if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
						table.order([2, 'desc']).draw();
					} else {
						table.order([2, 'asc']).draw();
					}
				});
			});
		});
		$('#example23').DataTable({
			dom: 'Bfrtip',
			buttons: [
			'copy', 'csv', 'excel', 'pdf', 'print'
			]
		});
	</script>
{% endblock %}