{% extends 'base.html.twig' %}
{% block title %}Modulo de prorroga o incremento{% endblock %}
{% block body %}
<div class="row">

    <!--======================Formulario para incremento =============================== -->
    <div class="col-md-6">
        <div class="white-box">
            <h3 class="box-title m-b-0">Formulario para Incrementos</h3>
            <p class="text-muted m-b-30 font-13"> Unidad de Abastecimiento </p>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Codigo de Compra</label>
                            <i<div id="scrollable-dropdown-menu">
                                <input id="codigoCompra" class="typeahead form-control" type="text" placeholder="Ejemplo: LP 12/2017"> 
                        </div>
                        <div class="form-group">
                            <label >Meses a desestimar</label>
                            <input id="meses" type="number" class="form-control"> </div>
                        <div class="form-group">
                            <label>Elija una estimacion</label>
                            <select id="estimacion">
                                {% for estima in estimaciones %}
                                    <option value="{{estima.id}}">{{estima.descripcionProgramacion}}</option>
                                {% endfor %}
                            </select>
                        </div>  
                        <button id="Incremento" class="btn btn-success waves-effect waves-light m-r-10">Iniciar Incremento</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--======================Fin Formulario para incremento =============================== -->
    
    <!--======================Formulario para prorroga ===================================== -->
    <div class="col-md-6">
        <div class="white-box">
            <h3 class="box-title m-b-0">Formulario para Prorrogas</h3>
            <p class="text-muted m-b-30 font-13"> Unidad de Abastecimiento </p>
            <form class="form-horizontal">
                
                <div class="form-group">
                            <label for="exampleInputEmail1">Codigo de licitacion</label>
                            <i<div id="scrollable-dropdown-menu">
                                <input id="codigoCompra" class="typeahead form-control" type="text" placeholder="Ejemplo: LP 12/2017"> 
                        </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button id="Prorroga" type="submit" class="btn btn-info waves-effect waves-light m-t-10">Inciar Prorroga</button>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
    <!--======================Fin Formulario para prorroga ===================================== -->
    <div class="col-md-6">
</div>

<!--======================Tabla de procesos ===================================== -->
<div class="white-box">
    <h3 class="box-title">Listado de Compras en Proceso de Licitacion o Prorroga</h3>
    <div class="table-responsive">
        <table class="table color-table success-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Compra</th>
                    <th>Fecha de creacion</th>
                    <th>Estimacion de necesidades</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="detalleIncremento">
                {% for incremento in incrementos %}
                    <tr>
                        <td>{{ incremento.id }}</td>
                        <td>{{ incremento.incrementoModalidadCompra.numeroModalidad }}</td>
                        <td>{{ incremento.fechaCreacion|date("d/m/Y") }}</td>
                        <td>{{incremento.estimacion.descripcionProgramacion}}</td>
                        <td>{{ incremento.estadoIncremento.descripcionEstado }}</td>
                        <td>{% if incremento.estadoIncremento.id == 1 %}
                            aun no puede continuar el proceso
                            {% else %}
                                {% if incremento.estadoIncremento.id == 2 %}
                                <a href="{{ path('minsal_contrato_listado_medicamentos',{'incremento': incremento.incrementoModalidadCompra.id }) }}" class="btn btn-info">Depurar Medicamentos</a>
                                {% else %}
                                    {% if incremento.estadoIncremento.id == 5 %}
                                         <a href="{{ path('minsal_contrato_analizador_contratos',{'incremento': incremento.incrementoModalidadCompra.id }) }}" class="btn btn-info">Iniciar Analisis</a>
                                    {% endif %}

                                {% endif %}
                                
                        {% endif %}

                        </td>
                            
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!--====================== Fin Tabla de resultados ===================================== -->


{% endblock %}

{% block js %}
    {{ parent() }}


<script type="text/javascript">
/*----------------funcion para crear incrementos ---------------------*/
$(document).ready(function() {
        $("#Incremento").click(function() {
           crearIncremento();
        });
    });
function crearIncremento() {
    var codigoLicitacion = $('#codigoCompra').val();
    var meses = $('#meses').val();
    var estimacion = $('#estimacion').val();
        $.ajax({
            url : '{{ path('minsal_contrato_inicio_proceso_crear') }}',
            data : {
                'cod':codigoLicitacion,
                'meses':meses,
                'estimacion':estimacion
            },
            type : 'post'
        }).done(function(data) {
            location.reload();
        });


}
</script>

<script type="text/javascript">
/*=================funcion para crear prorrogas =====================*/
$(document).ready(function() {
        $("#Prorroga").click(function() {
           crearProrroga();
        });
    });

    function crearProrroga() {
    var codigoLicitacion = $('#codigoCompra').val();
    alert('A continuacion se creara una prorooga');

        /*$.ajax({
            url : '{{ path('minsal_contrato_inicio_proceso_crear') }}',
            data : {
                'cod':codigoLicitacion,
            },
            type : 'post'
        }).done(function(data) {
            location.reload();
        });*/


}
</script>

    <!-- jQuery -->
    <!-- Menu Plugin JavaScript -->
    <!--slimscroll JavaScript -->
    <script src="{{ asset('assets/') }}sinab/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="{{ asset('assets/') }}sinab/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{{ asset('assets/') }}sinab/js/custom.min.js"></script>
    <!-- Typehead Plugin JavaScript -->
    <script src="{{ asset('assets/') }}plugins/bower_components/typeahead.js-master/dist/typeahead.bundle.min.js"></script>
    <!--<script src="{{ asset('assets/') }}plugins/bower_components/typeahead.js-master/dist/typeahead-init.js"></script>-->
    <!--Style Switcher -->
    <script src="{{ asset('assets/') }}plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
    <script type="text/javascript">
    



/*--------------------------    TYPE HEAD    --------------------*/
    // constructs the suggestion engine
    function creaTypeHead() {
        var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substringRegex;
    // an array that will be populated with substring matches
    matches = [];
    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');
    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        matches.push(str);
      }
    });
    cb(matches);
  };
};
// var codigosLicitacion = array de la consulta
var codigosLicitacion=[] ;
{% for codigos in compras %}
    codigosLicitacion.push('{{codigos.numeroModalidad}}')
{% endfor %}
// ---------- Bloodhound ----------
// constructs the suggestion engine
var codigosLicitacion = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  local: codigosLicitacion
});
$('#bloodhound .typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'codigosLicitacion',
  source: codigosLicitacion
});
// -------- Scrollable --------
$('#scrollable-dropdown-menu .typeahead').typeahead(null, {
  name: 'codigosLicitacion',
  limit: 10,
  source: codigosLicitacion
});
    }
    /*----------Funcion para sincronizar la base de datos ---------------*/
    /*function sync() {
        $.ajax({
            url: '',
            data: '',
            method: 'POST'
        }).success(function(data) {
                alert('la base de de datos ha sido actualizada');
                creaTypeHead();

        }).fail(function(data) {
        });
    }*/
/*-------------------Funcion para verificar el uso de estimaciones -------------------*/
function verificaEstimacion() {
    $('#estimaciones').hide();
    $("#estimacionSi").on( 'change', function() {
    if( $(this).is(':checked') ) {
        // Hacer algo si el checkbox ha sido seleccionado
        if ($('#estimacionNo').is(':checked')) {
            $('#estimacionNo').removeAttr('checked');
            $('#estimaciones').show();
        }
        } else {
            // Hacer algo si el checkbox ha sido deseleccionado
        }

    });
    $("#estimacionNo").on( 'change', function() {
    if( $(this).is(':checked') ) {
        // Hacer algo si el checkbox ha sido seleccionado
        if ($('#estimacionSi').is(':checked')) {
            $('#estimaciones').hide();
            $('#estimacionSi').removeAttr('checked');
        }
        } else {
            // Hacer algo si el checkbox ha sido deseleccionado
        }

    });
}
    $(document).ready(function() {
        creaTypeHead();
        verificaEstimacion();
    });



    </script>
{% endblock %}