{% extends 'base.html.twig' %}
{% block title %}Modulo de prorroga o incremento{% endblock %}
{% block body %}
<div class="container">
    {# INICIO DEL AREA DE FORMULARIOS #}
    <div class="white-box col-md-10 col-md-offset-1">
        <div class="row">
            {# INICIO DEL FORMULARIO DE INCREMENTO #}
            <div class="col-md-6">
                <h3 class="box-title m-b-0">Formulario para Incrementos</h3>
                <p class="text-muted m-b-30 font-13"> Unidad de Abastecimiento </p>
                <form>
                    <div class="form-group row">
                            <div class="col-xs-12">
                                <label class="control-label">Codigo de Compra</label>
                            </div>
                           <div class="col-xs-6">
                                 <select id="licitaciones" class="form-control">
                                {% for compra in compras %}
                                    <option value="{{ compra.id }}">{{ compra.numeroModalidad }}</option>
                                {% endfor %}
                                </select>
                            </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12">
                            <label class="control-label">Meses a desestimar</label>
                        </div>
                        <div class="col-xs-6">
                            <input id="meses" type="number" min="1" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12">
                            <label class="control-label">Elija una estimacion</label>
                        </div>
                        <div class="col-xs-6">
                            <select id="estimacion" class="form-control">
                                {% for estima in estimaciones %}
                                    <option value="{{estima.id}}">{{estima.descripcionProgramacion}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <button id="Incremento" class="btn btn-success waves-effect waves-light m-r-10">Iniciar Incremento</button>
                </form>
            </div>
            {# FIN DEL FORMULARIO DE INCREMENRO #}

            {# INICIO DEL FORMULARIO DE PRORROGA #}
             <div class="col-md-6">
                <h3 class="box-title m-b-0">Formulario para Prorrogas</h3>
                <p class="text-muted m-b-30 font-13"> Unidad de Abastecimiento </p>
                <form>
                    <div class="form-group row">
                            <div class="col-xs-12">
                                <label for="exampleInputEmail1">Codigo de Compra</label>
                            </div>
                            <div class="col-xs-6">
                                 <select id="licitacionesP" class="form-control">
                                {% for compr in compras %}
                                    <option value="{{ compr.id }}">{{ compr.numeroModalidad }}</option>
                                {% endfor %}
                                </select>
                            </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-xs-12">
                            <label class="control-label">Elija una planificacion</label>
                        </div>
                        <div class="col-xs-6">
                            <select id="estimacion" class="form-control">
                                {% for planificacion in planificaciones %}
                                    <option value="{{ planificacion.id }}">{{ planificacion.descripcionProgramacion }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <button id="Prorroga" type="submit" class="btn btn-info waves-effect waves-light m-t-10">Inciar Prorroga</button>
                </form>
            </div>
            {# FIN DEL FORMULARIO DE PRORROGA #}
        </div>
    </div>
    {# FIN DEL AREA DE FORMULARIOS #}

    <div class="white-box">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="box-title m-b-0">Listado de procesos de Incremento o Prorroga</h3>
                <p class="text-muted m-b-30">Seleccione el proceso o prorroga que desee continuar</p>

                {# INICIO DE LA TABLA DE PROCESOS EN INCREMENTO O PRORROGA #}
                <div class="table-responsive">
                    <table id="myTable" class="table table-condensed table-hover">
                        <thead>
                            <div>
                               <ul class="side-icon-text pull-right">
                                    <li><span class="circle circle-sm bg-info di"><i class=""></i></span><span>Incrementos</span></li>
                                    <li><span class="circle circle-sm bg-warning di"><i class=""></i></span><span>Prorrogas</span></li>
                                </ul>
                                <h3>Unidad de adquisiciones y contrataciones</h3> 
                            </div>
                            <br>
                            <tr>
                                <th>#</th>
                                <th>Compra</th>
                                <th>Fecha de creacion</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="detalleIncremento">
                            {# INICIO DE LISTADO DE INCREMENTOS #}
                            {% for incremento in incrementos %}
                                <tr class="info">
                                    <td>{{ incremento.id }}</td>
                                    {% if incremento.incrementoModalidadCompra.numeroModalidad is null %}
                                        <td>{{ incremento.incrementoModalidadCompra.numeroModalidad }}</td>
                                    {% else %}
                                        <td>la compra no contiene un identificador</td>
                                    {% endif %}
                                    
                                    <td>{{ incremento.fechaCreacion|date("d/m/Y") }}</td>
                                    <td>{{ incremento.estadoIncremento.descripcionEstado }}</td>
                                    <td>{% if incremento.estadoIncremento.id == 1 %}
                                        aun no puede continuar el proceso
                                    {% else %}
                                        {% if incremento.estadoIncremento.id == 2 %}
                                            <a href="{{ path('minsal_contrato_listado_medicamentos',{'incremento': incremento.incrementoModalidadCompra.id }) }}" class="btn btn-info">Depurar Medicamentos</a>
                                        {% else %}
                                            {% if incremento.estadoIncremento.id == 5 %}
                                                <a href="{{ path('minsal_contrato_analizador_contratos',{'incremento': incremento.id }) }}" class="btn btn-info">Iniciar Analisis</a>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            {# FIN DEL LISTADO DE INCREMENTOS #}
                            {# INICIO DE LISTADO DE PRORROGAS #}
                                {% for prorroga in prorrogas %}
                                    <tr class="warning">
                                        <td>{{ prorroga.id }}</td>
                                        <td>{{ prorroga.prorrogaModalidadCompra.numeroModalidad }}</td>
                                        <td>{{ prorroga.fechaCreacion|date("d/m/Y") }}</td>
                                        <td>{{ prorroga.estadoProrroga.descripcionEstado }}</td>
                                        <td>{% if prorroga.estadoProrroga.id == 6 %}
                                            aun no puede continuar el proceso
                                        {% else %}
                                            {% if prorroga.estadoProrroga.id == 7 %}
                                                <a href="{{ path('minsal_contrato_listado_medicamentos',{'incremento': prorroga.prorrogaModalidadCompra.id }) }}" class="btn btn-info">Depurar Medicamentos</a>
                                            {% else %}
                                                {% if prorroga.estadoProrroga.id == 5 %}
                                                    <a href="{{ path('minsal_contrato_analizador_contratos',{'incremento': prorroga.prorrogaModalidadCompra.id }) }}" class="btn btn-info">Iniciar Analisis</a>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {# FIN DE LISTADO DE PRORROGAS #}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

{# INICIO DE MODAL PARA EMAILS #}
<!-- <div class="row">
        <button alt="default" data-toggle="modal" data-target="#responsive-modal" class="model_img img-responsive"> Modal Hacer Caso Omiso a este botn por el momento</button>
    </div> -->
<!-- ========================================================================================= -->
<div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Memorandum</h4> 
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <form>
                            <div class="form-group">
                                <label  for="recipient-name" class="control-label">Asunto:</label>
                                <input type="text" class="form-control" id="asunto"> 
                            </div>
                            <div>
                                <label for="message-text" class="control-label">Cuerpo del mensaje:</label>
                                <textarea class="form-control" id="invitacion message-text"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="control-label">Fecha:</label>
                                <input type="text" class="fecha form-control" id="datepicker-autoclose" placeholder="mm/dd/yyyy"> <span class="input-group-addon"><i class="icon-calender"></i></span> 
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <form id="correos" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="correo1" class="col-lg-3 control-label">Director 1er nivel de atencion</label>
                                <div class="col-lg-9">
                                    <input type="email" class="form-control" id="correo1" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="correo2" class="col-lg-3 control-label">Director 2do nivel de atencion</label>
                                <div class="col-lg-9">
                                    <input type="email" class="form-control" id="correo2" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="correo3" class="col-lg-3 control-label">Coordinador 3er nivel de atencion</label>
                                <div class="col-lg-9">
                                    <input type="email" class="form-control" id="correo3" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="correo" class="col-lg-3 control-label">Director farmacias especializadas</label>
                                <div class="col-lg-9">
                                    <input type="email" class="form-control" id="correo4" placeholder="Email">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
                <button id="Enviar" type="button" class="btn btn-danger waves-effect waves-light">Enviar Invitacion</button>
            </div>
        </div>
    </div>

{% endblock %}


{% block js %}
    {{ parent() }}
    {# <script src="{{ asset('assets/') }}plugins/bower_components/datatables/jquery.dataTables.min.js"></script>
    <!-- ================================================== -->
    <script src="{{ asset('assets/') }}plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- ================================================== -->
    <script>

        $(document).ready(function() {
            $('#myTable').DataTable();
            $(document).ready(function() {
                var table = $('#example').DataTable({
                    "columnDefs": [{
                        "visible": false,
                        "targets": 2
                    }],
                    "order": [
                    [2, 'asc']
                    ],
                    "displayLength": 25,
                    "drawCallback": function(settings) {
                        var api = this.api();
                        var rows = api.rows({
                            page: 'current'
                        }).nodes();
                        var last = null;
                        api.column(2, {
                            page: 'current'
                        }).data().each(function(group, i) {
                            if (last !== group) {
                                $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                                last = group;
                            }
                        });
                    }
                });
                // Order by the grouping
                $('#example tbody').on('click', 'tr.group', function() {
                    var currentOrder = table.order()[0];
                    if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                        table.order([2, 'desc']).draw();
                    } else {
                        table.order([2, 'asc']).draw();
                    }
                });
            });
        });
        $('#example23').DataTable({
            dom: 'Bfrtip',
            buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    </script>

    <!-- ================================================== -->
    <script>
    jQuery('.mydatepicker, #datepicker').datepicker();
    jQuery('#datepicker-autoclose').datepicker({
        autoclose: true,
        todayHighlight: true
    });
    jQuery('#date-range').datepicker({
        toggleActive: true
    });
    jQuery('#datepicker-inline').datepicker({
        todayHighlight: true
    });
    </script> #}

    {# <script>
    $(function(){

        $(document).ready(function() {
            $("#Enviar").click(function() {
                alert('se ha presionado el boton de enviar');
                obtenerValores();
                
            });
        });

        function obtenerValores() {
         asunto = $("#asunto").val();
         fecha = $(".fecha").val();
         invitacion = $("#invitacion").val();
         var correo;
         var emails = [];
         var url = "{{ path('minsal_contrato_mensajeria') }}";

         var correos = $('#correos div div').each(function(){
            correo = $(this).find("input").val();
            var nodo = {'email':correo};
            emails.push(nodo);
         });
         $.ajax({
                url: url,
                type: 'POST',
                data: {
                    'asunto':asunto,
                    'invitacion':invitacion,
                    'correos':emails,
                },
            })
            .done(function(data) {
                alert(data);
            })
            .fail(function() {
                console.log("error");
            })
            .always(function() {
                console.log("complete");
            });
                
        }

    });
   </script>#}
        
<script type="text/javascript">
/*----------------funcion para crear incrementos ---------------------*/
$(document).ready(function() {
        $("#Incremento").click(function() {
           crearIncremento();
        });
    });
function crearIncremento() {
    var codigoLicitacion = $('#licitaciones').val().trim();
    var meses = $('#meses').val().trim();
    var estimacion = $('#estimacion').val().trim();
    var url = "{{ path('minsal_contrato_inicio_proceso_crear') }}";
    if(codigoLicitacion){
        if(meses >= 0 && meses != ''){
            $.ajax({
            url : url,
            data : {
                'cod':codigoLicitacion,
                'meses':meses,
                'estimacion':estimacion
            },
            type : 'post'
        }).done(function(data) {
            alert('Incremento Creado, Por favor espere la depuracion de proveedores');
           location.reload();
        });
        }
        else{
            alert('Los meses de estimacion son mayores a 0');
        }
        
    }
    else{
        alert('No se puede procesar debido a que no ha llenado todos los campos de este formulario');
    }
        
}
</script>

<script type="text/javascript">
/*=================funcion para crear prorrogas =====================*/
$(document).ready(function() {
        $("#Prorroga").click(function() {
           crearProrroga();
        });
    });
    function crearProrroga() {
    var codigoLicitacion = $('#licitacionesP').val().trim();
    var esProrroga = $('#esProrroga').val();
    var url = "{{ path('minsal_contrato_inicio_proceso_crear') }}";
    if(codigoLicitacion){
        $.ajax({
           url: url,
           type: 'POST',
           data: {
            'cod':codigoLicitacion,
            'esProrroga': esProrroga
            },
       })
       .done(function(data) {
           console.log("success");
            alert(data);
            alert('Prorroga Creada, Por favor espere la depuracion de proveedores');

            location.reload();
       });
    }
    else{
        alert("Porfavor elija el codigo de la licitacion");
    }
    
      
}
</script>

   
    <script src="{{ asset('assets/') }}plugins/bower_components/typeahead.js-master/dist/typeahead.bundle.min.js"></script>
    <!--<script src="{{ asset('assets/') }}plugins/bower_components/typeahead.js-master/dist/typeahead-init.js"></script>-->
    <script src="{{ asset('assets/') }}plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
    <script type="text/javascript">
    
/*--------------------------    TYPE HEAD    --------------------*/
    // constructs the suggestion engine
    function creaTypeHead() {
        var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substringRegex;
    // an array that will be populated with substring matches
    matches = [];
    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');
    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        matches.push(str);
      }
    });
    cb(matches);
  };
};
// var codigosLicitacion = array de la consulta
var codigosLicitacion=[] ;
{% for codigos in compras %}
    codigosLicitacion.push('{{codigos.numeroModalidad}}')
{% endfor %}
// ---------- Bloodhound ----------
// constructs the suggestion engine
var codigosLicitacion = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  local: codigosLicitacion
});
$('#bloodhound .typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'codigosLicitacion',
  source: codigosLicitacion
});
// -------- Scrollable --------
$('#scrollable-dropdown-menu .typeahead').typeahead(null, {
  name: 'codigosLicitacion',
  limit: 10,
  source: codigosLicitacion
});
    }
    /*----------Funcion para sincronizar la base de datos ---------------*/
    /*function sync() {
        $.ajax({
            url: '',
            data: '',
            method: 'POST'
        }).success(function(data) {
                alert('la base de de datos ha sido actualizada');
                creaTypeHead();
        }).fail(function(data) {
        });
    }*/
/*-------------------Funcion para verificar el uso de estimaciones -------------------*/
function verificaEstimacion() {
    $('#estimaciones').hide();
    $("#estimacionSi").on( 'change', function() {
    if( $(this).is(':checked') ) {
        // Hacer algo si el checkbox ha sido seleccionado
        if ($('#estimacionNo').is(':checked')) {
            $('#estimacionNo').removeAttr('checked');
            $('#estimaciones').show();
        }
        } else {
            // Hacer algo si el checkbox ha sido deseleccionado
        }
    });
    $("#estimacionNo").on( 'change', function() {
    if( $(this).is(':checked') ) {
        // Hacer algo si el checkbox ha sido seleccionado
        if ($('#estimacionSi').is(':checked')) {
            $('#estimaciones').hide();
            $('#estimacionSi').removeAttr('checked');
        }
        } else {
            // Hacer algo si el checkbox ha sido deseleccionado
        }
    });
}
    $(document).ready(function() {
        creaTypeHead();
        verificaEstimacion();
    });
    </script>
    </script>
    <!-- ================================================== -->
    <!--Style Switcher -->
    <script src="{{ asset('assets/') }}plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
    {% endblock %}