{% extends 'base.html.twig' %}
{% block body %}
<div class="row">
    <div class="col-md-6">
        <div class="white-box">
            <h3 class="box-title m-b-0">Formulario para Incrementos</h3>
            <p class="text-muted m-b-30 font-13"> Unidad de Abastecimiento </p>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form>
                        
                        <div class="form-group">
                            <label for="exampleInputEmail1">Codigo de licitacion</label>
                            <i<div id="scrollable-dropdown-menu">
                                <input id="codigoCompra" class="typeahead form-control" type="text" placeholder="Ejemplo: LP 12/2017"> 
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Meses a desestimar</label>
                            <input type="number" class="form-control"> </div>    
                        
                        <a onclick="incremento_inicio();" class="btn btn-success waves-effect waves-light m-r-10">Iniciar Incremento</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="white-box">
            <h3 class="box-title m-b-0">Formulario para Prorrogas</h3>
            <p class="text-muted m-b-30 font-13"> Unidad de Abastecimiento </p>
            <form class="form-horizontal">
                
                <div class="form-group">
                            <label for="exampleInputEmail1">Codigo de licitacion</label>
                            <i<div id="scrollable-dropdown-menu">
                                <input id="codigoCompra" class="typeahead form-control" type="text" placeholder="Ejemplo: LP 12/2017"> 
                        </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-info waves-effect waves-light m-t-10">Inciar Prorroga</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="white-box">
    <h3 class="box-title">Listado de Compras en Proceso de Licitacion o Prorroga</h3>
    <div class="table-responsive">
        <table class="table color-table success-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Codigo de Compra</th>
                    <th>Estado</th>
                    <th>Fecha de creacion</th>
                </tr>
            </thead>
            <tbody>
                {% for incremento in incrementos %}
                    <td>{{ incremento.id }}</td>
                    <td>{{ incremento.codigoCompra }}</td>
                    <td>{{ incremento.estado.descripcion }}</td>
                    <td>{{ incremento.fechaCreacion|date('d-m-Y') }}</td>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}

{% block js %}
    {{ parent() }}

    <!-- jQuery -->
    <!-- Menu Plugin JavaScript -->
    <!--slimscroll JavaScript -->
    <script src="{{ asset('assets/') }}sinab/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="{{ asset('assets/') }}sinab/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{{ asset('assets/') }}sinab/js/custom.min.js"></script>
    <!-- Typehead Plugin JavaScript -->
    <script src="{{ asset('assets/') }}plugins/bower_components/typeahead.js-master/dist/typeahead.bundle.min.js"></script>
    <!--<script src="{{ asset('assets/') }}plugins/bower_components/typeahead.js-master/dist/typeahead-init.js"></script>-->
    <!--Style Switcher -->
    <script src="{{ asset('assets/') }}plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
    <script type="text/javascript">
    var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substringRegex;

    // an array that will be populated with substring matches
    matches = [];

    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');

    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        matches.push(str);
      }
    });

    cb(matches);
  };
};
// var codigosLicitacion = array de la consulta
var codigosLicitacion=[] ;
{% for codigosl in codigosLicitaciones %}
    codigosLicitacion.push('{{codigosl}}')
{% endfor %}


// ---------- Bloodhound ----------

// constructs the suggestion engine
var codigosLicitacion = new Bloodhound({
  datumTokenizer: Bloodhound.tokenizers.whitespace,
  queryTokenizer: Bloodhound.tokenizers.whitespace,
  local: codigosLicitacion
});

$('#bloodhound .typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'codigosLicitacion',
  source: codigosLicitacion
});




// -------- Scrollable --------



$('#scrollable-dropdown-menu .typeahead').typeahead(null, {
  name: 'codigosLicitacion',
  limit: 10,
  source: codigosLicitacion
});

function incremento_inicio() {
    var licitacionIncremento = $('#codigoCompra').val();
    $.ajax({
        url: '{{ path('minsal_contrato_inicio_proceso_crear') }}',
        data: {
            'cod':licitacionIncremento
        },
        type: 'POST',
    }).done(function(data) {
        location.reload();
    }).fail(function() {
        alert('error la peticion ha sido rechazada');
    });
}

$(document).ready(function() {

});

    </script>
{% endblock %}