{% extends 'base.html.twig' %}
{% block title %}Listado Procesos{% endblock %}
{% block head_css %}
	{{ parent() }}
    <link href="{{ asset('assets/') }}plugins/bower_components/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <!-- ================================================== -->
    <link href="{{ asset('assets/') }}plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <!-- ================================================== -->
    <link href="{{ asset('assets/') }}sinab/css/colors/megna-dark.css" id="theme" rel="stylesheet">
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-sm-12">
			<div class="white-box">
				<h3 class="box-title m-b-0">Listado de procesos de Incremento o Prorroga</h3>
				<p class="text-muted m-b-30">Seleccione el proceso de incremento o prorroga que quiere verificar</p>
				<div class="table-responsive">
					<table id="myTable" class="table table-condensed table-hover table-responsive">
						<thead>
							<div>
                                        <ul class="side-icon-text pull-right">
                                            <li><span class="circle circle-sm bg-info di"><i class=""></i></span><span>Incrementos</span></li>
                                            <li><span class="circle circle-sm bg-warning di"><i class=""></i></span><span>Prorrogas</span></li>
                                        </ul>
                                        <h3>Unidad de adquisiciones y contrataciones</h3> 
                            </div>
                            <br>
							<tr>
								<th>Correlativo de Incremento o Prorroga</th>
								<th>Codigo de Compra(LA,LP,CD)</th>
								<th>Fecha de Creacion</th>
								<th>Revisar</th>
							</tr>
						</thead>
						<tbody>	
							{% if incrementos %}
								{% for incremento in incrementos %}
									<tr class="info">
										<td>{{ incremento.id }}</td>
										<td>{{ incremento.incrementoModalidadCompra.numeroModalidad }}</td>
										<td>{{ incremento.fechaCreacion|date('d/m/Y') }}</td>
										
										<td>
											{% if incremento.estadoIncremento.id == 1 %}
											 <a class="btn btn-warning" href="{{ path('minsal_contrato_proveedores_uaci',{cod:incremento.id, tipo:'incremento', licitacion:incremento.incrementoModalidadCompra.id }) }}"><span class="glyphicon glyphicon-eye-open"></span>Revisar</a>
											{% elseif incremento.estadoIncremento.id == 2 %}
												<a class="btn btn-warning" href="{{ path('minsal_contrato_proveedores_uaci',{cod:incremento.id, tipo:'incremento', licitacion:incremento.incrementoModalidadCompra.id}) }}"><span class="glyphicon glyphicon-eye-open"></span> Revisar</a>
												<a href="{{ path('minsal_contrato_listado_medicamentos',{'incremento': incremento.id }) }}" class="btn btn-info">Depurar Medicamentos</a>
											{% endif %}
										</td>
										
										
									</tr>
								{% endfor %}

							{% endif %}			
							{% if prorrogas %}
								{% for prorroga in prorrogas %}
								<tr class="warning">
									<td>{{ prorroga.id }}</td>
									<td>{{ prorroga.prorrogaModalidadCompra.numeroModalidad }}</td>
									<td>{{ prorroga.fechaCreacion|date('d/m/Y') }}</td>
									<td>
										{% if prorroga.estadoProrroga.id == 6 %}
										<a class="btn btn-warning" href="{{ path('minsal_contrato_proveedores_uaci',{cod:prorroga.prorrogaModalidadCompra.id, tipo:'prorroga', licitacion:prorroga.prorrogaModalidadCompra.numeroModalidad }) }}"><span class="glyphicon glyphicon-eye-open"></span> Revisar</a>
									    {% elseif prorroga.estadoProrroga.id == 7  %}
									    	<a class="btn btn-warning" href="{{ path('minsal_contrato_proveedores_uaci',{cod:prorroga.prorrogaModalidadCompra.id, tipo:'prorroga', licitacion:prorroga.prorrogaModalidadCompra.id}) }}"><span class="glyphicon glyphicon-eye-open"></span> Revisar</a>
									    	<a href="{{ path('minsal_contrato_listado_medicamentos_prorroga',{'prorroga': prorroga.prorrogaModalidadCompra.id }) }}" class="btn btn-info">Depurar Medicamentos</a>
										{% endif %}
									</td>
								</tr>
							{% endfor %}


							{% endif %}
							
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block js %}
	{{ parent() }}
	<script src="{{ asset('assets/') }}plugins/bower_components/datatables/jquery.dataTables.min.js"></script>
	<!-- ================================================== -->
	<script>

		$(document).ready(function() {
			$('#myTable').DataTable();
			$(document).ready(function() {
				var table = $('#example').DataTable({
					"columnDefs": [{
						"visible": false,
						"targets": 2
					}],
					"order": [
					[2, 'asc']
					],
					"displayLength": 25,
					"drawCallback": function(settings) {
						var api = this.api();
						var rows = api.rows({
							page: 'current'
						}).nodes();
						var last = null;
						api.column(2, {
							page: 'current'
						}).data().each(function(group, i) {
							if (last !== group) {
								$(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
								last = group;
							}
						});
					}
				});
				// Order by the grouping
				$('#example tbody').on('click', 'tr.group', function() {
					var currentOrder = table.order()[0];
					if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
						table.order([2, 'desc']).draw();
					} else {
						table.order([2, 'asc']).draw();
					}
				});
			});
		});
		$('#example23').DataTable({
			dom: 'Bfrtip',
			buttons: [
			'copy', 'csv', 'excel', 'pdf', 'print'
			]
		});
	</script>

	
	{% endblock %}