{% extends 'base.html.twig' %}
{% block title %}Listado Procesos{% endblock %}
{% block head_css %}
	{{ parent() }}
    <link href="{{ asset('assets/') }}plugins/bower_components/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <!-- ================================================== -->
    <link href="{{ asset('assets/') }}plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <!-- ================================================== -->
    <link href="{{ asset('assets/') }}sinab/css/colors/megna-dark.css" id="theme" rel="stylesheet">
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-sm-12">
			<div class="white-box">
				<h3 class="box-title m-b-0">Listado de procesos de Incremento o Prorroga</h3>
				<p class="text-muted m-b-30">Seleccione el proceso de incremento o prorroga que quiere verificar</p>
				<div class="table-responsive">
					<table id="myTable" class="table table-condensed table-hover table-responsive">
						<thead>
							<div>
                                        <ul class="side-icon-text pull-right">
                                            <li><span class="circle circle-sm bg-info di"><i class=""></i></span><span>Incrementos</span></li>
                                            <li><span class="circle circle-sm bg-warning di"><i class=""></i></span><span>Prorrogas</span></li>
                                        </ul>
                                        <h3>Unidad de adquisiciones y contrataciones</h3> 
                            </div>
                            <br>
							<tr>
								<th>Correlativo de Incremento o Prorroga</th>
								<th>Codigo de Compra(LA,LP,CD)</th>
								<th>Fecha de Creacion</th>
								<th>Revisar</th>
							</tr>
						</thead>
						<tbody>	
							{% if incrementos %}
								{% for incremento in incrementos %}
									<tr class="info">
										<td>{{ incremento.id }}</td>
										<td>{{ incremento.incrementoModalidadCompra.numeroModalidad }}</td>
										<td>{{ incremento.fechaCreacion|date('d/m/Y') }}</td>
										
										<td>
											{% if incremento.estadoIncremento.id == 1 %}
											 <a class="btn btn-warning" href="{{ path('minsal_contrato_proveedores_uaci',{cod:incremento.incrementoModalidadCompra.id, tipo:'incremento'}) }}"><span class="glyphicon glyphicon-eye-open"></span>Revisar</a>
											{% elseif incremento.estadoIncremento.id == 2 %}
												<a class="btn btn-warning" href="{{ path('minsal_contrato_proveedores_uaci',{cod:incremento.incrementoModalidadCompra.id, tipo:'incremento'}) }}"><span class="glyphicon glyphicon-eye-open"></span> Revisar</a>
												<a href="{{ path('minsal_contrato_listado_medicamentos',{'incremento': incremento.incrementoModalidadCompra.id }) }}" class="btn btn-info">Depurar Medicamentos</a>
											{% endif %}
										</td>
										
										
									</tr>
								{% endfor %}

							{% endif %}			
							{% if prorrogas %}
								{% for prorroga in prorrogas %}
								<tr class="warning">
									<td>{{ prorroga.id }}</td>
									<td>{{ prorroga.prorrogaModalidadCompra.numeroModalidad }}</td>
									<td>{{ prorroga.fechaCreacion|date('d/m/Y') }}</td>
									<td>
										{% if prorroga.estadoProrroga.id == 6 %}
										<a class="btn btn-warning" href="{{ path('minsal_contrato_proveedores_uaci',{cod:prorroga.prorrogaModalidadCompra.id, tipo:'prorroga'}) }}"><span class="glyphicon glyphicon-eye-open"></span> Revisar</a>
									    {% elseif prorroga.estadoProrroga.id == 7  %}
									    	<a href="{{ path('minsal_contrato_listado_medicamentos_prorroga',{'prorroga': prorroga.prorrogaModalidadCompra.id }) }}" class="btn btn-info">Depurar Medicamentos</a>
										{% endif %}
									</td>
								</tr>
							{% endfor %}


							{% endif %}
							
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- <div class="row">
		<button alt="default" data-toggle="modal" data-target="#responsive-modal" class="model_img img-responsive"> Modal Hacer Caso Omiso a este botn por el momento</button>
	</div> -->
<!-- ========================================================================================= -->
<div id="responsive-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Memorandum</h4> 
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6">
						<form>
							<div class="form-group">
								<label  for="recipient-name" class="control-label">Asunto:</label>
								<input type="text" class="form-control" id="asunto"> 
							</div>
							<div>
								<label for="message-text" class="control-label">Cuerpo del mensaje:</label>
								<textarea class="form-control" id="invitacion message-text"></textarea>
							</div>
							<div class="form-group">
								<label for="message-text" class="control-label">Fecha:</label>
                                <input type="text" class="fecha form-control" id="datepicker-autoclose" placeholder="mm/dd/yyyy"> <span class="input-group-addon"><i class="icon-calender"></i></span> 
							</div>
						</form>
					</div>
					<div class="col-md-6">
						<form id="correos" class="form-horizontal" role="form">
							<div class="form-group">
								<label for="correo1" class="col-lg-3 control-label">Director 1er nivel de atencion</label>
								<div class="col-lg-9">
									<input type="email" class="form-control" id="correo1" placeholder="Email">
								</div>
							</div>
							<div class="form-group">
								<label for="correo2" class="col-lg-3 control-label">Director 2do nivel de atencion</label>
								<div class="col-lg-9">
									<input type="email" class="form-control" id="correo2" placeholder="Email">
								</div>
							</div>
							<div class="form-group">
								<label for="correo3" class="col-lg-3 control-label">Coordinador 3er nivel de atencion</label>
								<div class="col-lg-9">
									<input type="email" class="form-control" id="correo3" placeholder="Email">
								</div>
							</div>
							<div class="form-group">
								<label for="correo" class="col-lg-3 control-label">Director farmacias especializadas</label>
								<div class="col-lg-9">
									<input type="email" class="form-control" id="correo4" placeholder="Email">
								</div>
							</div>
						</form>
					</div>
				</div>
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cerrar</button>
				<button id="Enviar" type="button" class="btn btn-danger waves-effect waves-light">Enviar Invitacion</button>
			</div>
		</div>
	</div>

<!-- ========================================================================================= -->
{% endblock %}
{% block js %}
	{{ parent() }}
	<script src="{{ asset('assets/') }}plugins/bower_components/datatables/jquery.dataTables.min.js"></script>
	<!-- ================================================== -->
	<script src="{{ asset('assets/') }}plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
	<!-- ================================================== -->
	<script>

		$(document).ready(function() {
			$('#myTable').DataTable();
			$(document).ready(function() {
				var table = $('#example').DataTable({
					"columnDefs": [{
						"visible": false,
						"targets": 2
					}],
					"order": [
					[2, 'asc']
					],
					"displayLength": 25,
					"drawCallback": function(settings) {
						var api = this.api();
						var rows = api.rows({
							page: 'current'
						}).nodes();
						var last = null;
						api.column(2, {
							page: 'current'
						}).data().each(function(group, i) {
							if (last !== group) {
								$(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
								last = group;
							}
						});
					}
				});
				// Order by the grouping
				$('#example tbody').on('click', 'tr.group', function() {
					var currentOrder = table.order()[0];
					if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
						table.order([2, 'desc']).draw();
					} else {
						table.order([2, 'asc']).draw();
					}
				});
			});
		});
		$('#example23').DataTable({
			dom: 'Bfrtip',
			buttons: [
			'copy', 'csv', 'excel', 'pdf', 'print'
			]
		});
	</script>

	<!-- ================================================== -->
	<script>
    jQuery('.mydatepicker, #datepicker').datepicker();
    jQuery('#datepicker-autoclose').datepicker({
        autoclose: true,
        todayHighlight: true
    });
    jQuery('#date-range').datepicker({
        toggleActive: true
    });
    jQuery('#datepicker-inline').datepicker({
        todayHighlight: true
    });
    </script>

    <script>
    $(function(){

    	$(document).ready(function() {
			$("#Enviar").click(function() {
				alert('se ha presionado el boton de enviar');
				obtenerValores();
				
			});
		});

		function obtenerValores() {
		 asunto = $("#asunto").val();
		 fecha = $(".fecha").val();
		 invitacion = $("#invitacion").val();
		 var correo;
		 var emails = [];
		 var url = "{{ path('minsal_contrato_mensajeria') }}";

		 var correos = $('#correos div div').each(function(){
		 	correo = $(this).find("input").val();
		 	var nodo = {'email':correo};
		 	emails.push(nodo);
		 });
		 $.ajax({
		 		url: url,
		 		type: 'POST',
		 		data: {
		 			'asunto':asunto,
		 			'invitacion':invitacion,
		 			'correos':emails,
		 		},
		 	})
		 	.done(function(data) {
		 		alert(data);
		 	})
		 	.fail(function() {
		 		console.log("error");
		 	})
		 	.always(function() {
		 		console.log("complete");
		 	});
		 		
		}

    });
	    

    </script>
    <!-- ================================================== -->
	<!--Style Switcher -->
	<script src="{{ asset('assets/') }}plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
	{% endblock %}