{% extends 'base.html.twig' %}
{% block title %}Depuracion Proveedores{% endblock %}
{% block head_css %}
	{{ parent() }}
    <link href="{{ asset('assets/') }}plugins/bower_components/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
	<!-- Menu CSS -->
    <link href="{{ asset('assets/') }}plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="{{ asset('assets/') }}sinab/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ asset('assets/') }}sinab/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="{{ asset('assets/') }}sinab/css/colors/megna-dark.css" id="theme" rel="stylesheet">
{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-sm-12">
			<div class="white-box">
				<h3 class="box-title m-b-0">Depuracion de provedores</h3>
				<p class="text-muted m-b-30">UACI</p>
				<div class="table-responsive">
					<table class="table table-striped" id="datos">
						<thead>
							<tr>
								<th>Codigo de contrato</th>
								<th>Proveedor</th>
								<th id="p">Habilitar/Deshabilitar</th>
							</tr>
						</thead>
						<tbody>
							{% for proveedor in proveedores %}
								<tr id="checkList">
									 <td>{{ proveedor.numeroContrato }}</td>
									 <td>{{ proveedor.nombreProveedor }}</td>
									 <td><input type="checkbox" value="{{ proveedor.id }}" checked></td>
								</tr>
							{% endfor %}
									
						</tbody>
					</table>
					<a id="Guardar" class="btn btn-danger">Guardar</a>
				</div>
				<div>
					<p>Recuerde verificar estos datos en el siguiente link</p>
					<a href="https://www.comprasal.gob.sv/comprasal_web/sanciones">Link de estado de proveedores</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}
{{ parent() }}

<script>
	$(document).ready(function() {
		$("#Guardar").click(function() {
			obtenerValores();
		});
	});
	function obtenerValores(){
		var proveedor;
		var listadoProveedores = [];
		var url = "{{ path('minsal_contrato_estado_proveedores') }}";
		var tabla = $('#datos tbody tr').each(function() {
			
			if ($(this).find("td").eq(2).find("input").is(":checked")) {
				proveedor = $(this).find("td").eq(2).find("input").val();
				var nodo = {'proveedor':proveedor,'estado':4};
				listadoProveedores.push(nodo);
			}
			else{
				proveedor = $(this).find("td").eq(2).find("input").val();
				var nodo = {'proveedor':proveedor,'estado':3};
				listadoProveedores.push(nodo);
			}

			
		});
		$.ajax({
			url: url,
			data: listadoProveedores,
			type: 'post',
		}).done(function(data) {
			alert('proveedores guardados');
		}).fail(function() {
			alert('upps algo ha pasado en el ajax');
		});
		
	}

</script>
{% endblock %}
